<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sit-in Monitoring System - Forgot Password</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/ccs.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <div class="login_box">
                <div class="login_header">
                    <img src="{{ url_for('static', filename='images/ccs.png') }}" alt="Logo" class="round-logo">
                    <span class="login-text">CHANGE PASSWORD</span>
                </div>
                <form action="{{ url_for('forgot_password') }}" method="POST">
                    <div class="input-box">
                        <input type="text" class="input-field" required>
                        <label>Username</label>
                    </div>        
                    <div class="input-box">
                        <input type="password" class="input-field" required>
                        <label>New Password</label>
                    </div>        
                    <div class="password-requirements">
                        <p>*Password must be 8-30 characters long</p>
                        <p>*Number and Symbols are included</p>
                        <p>*New password can't contain your username</p>
                    </div>  
                    <div class="input-box">
                        <input type="password" class="input-field" required>
                        <label>Confirm Password</label>
                    </div>        
                    <button type="submit" class="input-submit">Change Password</button>
                    {% if error %}
                    <div class="error-message">{{ error }}</div>
                    {% endif %}            
                </form>
                <a href="{{ url_for('login') }}">Cancel</a>
            </div>
        </div>
    </body>
</html>
