<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sit-in Monitoring System - Reservation Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="{{ url_for('Dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('Profile') }}">Profile</a></li>
                <li><a href="{{ url_for('Announcement') }}">Announcement</a></li>
                <li><a href="{{ url_for('Session') }}">Session</a></li>
                <li><a href="{{ url_for('History') }}">Sit-in History</a></li>
                <li><a href="{{ url_for('Reservation') }}">Reservation</a></li>
            </ul>
            <div class="logout-section">
                <a href="{{ url_for('logout') }}" class="logout-btn">Log Out</a>
            </div>
        </nav>
        <div class="reservation-container">
            <h2>Reservation Form</h2>
            
            <form method="POST" action="{{ url_for('Reservation') }}">
                <label for="student_id">Student ID</label>
                <input type="text" id="student_id" name="student_id" value="{{ user['idno'] }}" readonly>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{ user['lastname'] }}, {{ user['firstname'] }} {{ user['middlename'] if user['middlename'] else '' }}" readonly>
                <label for="purpose">Purpose</label>
                <input type="text" id="purpose" name="purpose" required>
        
                <label for="lab">Lab</label>
                <select id="lab" name="lab" required>
                    <option value="Select a laboratory">Select a lab</option>
                    <option value="lab1">Lab 542</option>
                    <option value="lab2">Lab 544</option>
                </select>
                <label for="time_in">Time In</label>
                <input type="time" id="time_in" name="time_in" required>
        
                <label for="remaining_sessions">Remaining Sessions</label>
                <input type="number" id="remaining_sessions" name="remaining_sessions" value="{{ user['sessions'] }}" readonly>
        
                <button type="submit">Reserve</button>
            </form>
        </div>        
    </div>
</body>
</html>
